.form ul li {
    display: block;
}

.form ul {
    margin-top: 30px;
    margin-left: 32%;
}

.form ul li button {
    margin-left: 7%;
}

.form {
    border: black 1px solid;
    height: 300px;
}

h2 {
    text-align: center;
}

button {
    height: 50px;
    width: 30%;
}

label {
    color: black;
    font-size: 26px;
}