body {
    background: #03030383;
}
.menu-header{
    color: rgba(0, 0, 0, 0.514) !important;
}
.menu-per{
    background-color: #0000008c !important;
}


@media (max-width: 768px){
    .sidebar{
        margin-left: -250px;
    }
    .sidebar.toggled{
        margin-left: 0px;
    }
}
.content{
    width: 100%;
}
.titulo{
    font-size: 2.0rem !important;
}
button{
    height: 50px;
}
h1{
    color: white;
}
p{
    color: white;
}
h3{
    text-align: center;
    color: white;
}
img{
   position: fixed;
    top: 0px;
   
}
#projeto{  
    position: relative;
    background: black;
}
body{
    background-color: black;
}

.list-group-item{
    background-color:rgba(128, 128, 128, 0.11);
}
.card{
    background-color: rgba(0, 0, 0, 0.192);
}
